.vs/
x64/
Debug/
Release/
*.exe
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.recipe
*.lastbuildstate
*.user
*.suo
*.pdf
_tmp_pdf_images/
_tmp_pdf_images_rot/
week14_reconstructed/
week14_rendered_pages/
edge-tmp/
